.pupils ul li{
    font-weight: bold;
    list-style: none;
}

body{
    margin-top:20px !important;
    background:#eee;
}

.card{
    border: none !important;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.schedule a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.live{
    color: #2ECC71 !important;
}

/* Chat */
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box,
  .chat-box {
    height: 450px;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }


